/*******************************************************************************
*
* Main Admin Style CSS
*
*
*
*
******************************************************************************/




/*---------- General Styles -----------------*/
body {
	background: #efefef;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


input[type=file] {
	padding: 0 !important;
}






/*----------- Common Styles -------------------------*/

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}


.actionTitle {
	padding: 12px 10px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 1em;
}


.form-group-container {
	margin-top: 10px;
	margin-bottom: 180px;
	background-color: #fff;
	color: #333;
	box-shadow: 1px 2px 1px #dfdfe0,-1px -1px 0 #f2f2f2;
	padding: 10px 20px 20px;
	border-radius: 5px;
}


.add-admin-container {
	margin-bottom: 20px !important;
}




/*--------------- LEFT COL ----------------------*/

#leftCol {
	min-height: 720px;
}


/*------ Branding -------------------*/
#leftCol #brand-container {
	margin-bottom: 6em;
	font-weight: bold;
	text-align: left;
}


#leftCol #brand-container h1 {
	padding: 0;
	margin-top: 0;
}




/*------ SideNavigation ------------*/
#leftCol nav ul > li {
	font-weight: normal;
	padding: 0.8em 1.2em;
}


#leftCol nav ul > li > a {
	text-decoration: none;
}



/*----------------------------------------- RIGHT COL Styles --------------------------------------*/
/*--------- adminHeader ------------------*/

.navbar-default {
	border: none;
	width: 100%;
	border-radius: 0;
	min-height: 100%;
	padding: 0.8em 0 0.2em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.4em !important;

}

.topIcons span.badge {
	font-size: 8px;
	background-color: green;
}





/*--------------- sideNav ------------------------*/
nav a {
	display: block;
	margin-bottom: 0 !important;
}

nav .submenu {
	background-color: #555;
	margin-top: -5px !important;
}

nav .submenu li {
	margin-left: 4em;
	font-weight: bold !important;
	list-style-type: square;
}

nav .submenu li:hover a {
	color: #FF9900 !important;
	background: #555;
}




/*------------- adminFooter --------------------*/
#adminFooter {
	padding: 0.8em 1em 0.2em 0;
	font-size: 11px;
	font-weight: bold;
}
